:root{
    --main-bgcolor:hsl(229,57%,11%);
    --second-bgcolor:hsl(228,56%,26%);
}
body{
    background-image:url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;


}
.container .card{
    width: 80%;
    padding: 20px;
    background-color:var(--second-bgcolor);
    border-radius: 10px;

}
.container .card-image{
    border-top-right-radius: 75px;

}
.container .icons{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-block-start: 2rem;

}
.container .icons .i-card{
    background-color: var(--main-bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
   

}
.container .fylo-icons div{
    margin-inline-start: 2rem;
    margin-block-start: 1.5625rem;
}
.container .fylo-icons .icons span{
    background-color: var(--main-bgcolor);
    padding: 10px;
    border-radius: 10px;
    margin-inline-end: 15px;
}
.container .fylo-icons .icons span img{
   text-align: center;
}

.container .storage {
    width: 500px;
    height: 8.375rem;
    background-color: var(--second-bgcolor);

    
    border-radius: 10px;
}
.container .storage p:first-of-type,
.container .storage .space p{
    color: hsl(229, 7%, 55%);
    font-size: 14px;
}

.container .storage .slider{
    -webkit-appearance: none;
    overflow: hidden;
    
    position: absolute;
    left: 5%;
    
    height: 15px;
    width: 90%;
    cursor: pointer;
    border-radius: 10px;
    background-color: red;
}
::-webkit-slider-runnable-track {
    background:var(--main-bgcolor);
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background:hsl(243, 100%, 93%);
    border-radius: 50%;
}